{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        body{
            font-family: inter, sans-serif;
        }
    </style>
</head>

<body class="bg-teal-50 p-10">
    <div class="max-w-[1400px] mx-auto">

        {% comment %} header section {% endcomment %}
        <header class="flex justify-between items-center mb-10">
            <h1 class="text-2xl font-semibold">Dashboard</h1>
            <div class="flex items-center gap-4">
                <button class="p-2 rounded-full hover:bg-gray-200 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
                    </svg>
                </button>
                <button
                    class="w-10 h-10 bg-blue-500 hover:bg-blue-300 hover:text-black hover:border rounded-full text-white font-semibold cursor-pointer">R
                </button>
            </div>
        </header>

        {% comment %} main section {% endcomment %}
        <main>
            {% comment %} grid (status) {% endcomment %}
            <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6 mb-7">
                {% comment %} Total Task {% endcomment %}
                <a href="{% url 'manager-dashboard' %}?type=all">
                    <div class="bg-white rounded-xl p-5 shadow-md">
                        <h3 class="text-sm font-medium text-gray-500 mb-3">TOTAL TASK</h3>
                        <div class="flex justify-between items-start">
                            <div>
                                <p class="text-3xl font-semibold mb-1"> {{counts.total}} </p>
                                <p class="text-sm text-gray-500">11 last month</p>
                            </div>
                            <div class="bg-blue-100 p-3 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                    stroke="currentColor" class="h-6 w-6 text-blue-600">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                                </svg>
    
                            </div>
                        </div>
                    </div>
                </a>

                {% comment %} Completed Task {% endcomment %}
                <a href="{% url 'manager-dashboard' %}?type=completed">
                    <div class="bg-white rounded-xl p-5 shadow-md">
                        <h3 class="text-sm font-medium text-gray-500 mb-3">COMPLETED TASK</h3>
                        <div class="flex justify-between items-start">
                            <div>
                                <p class="text-3xl font-semibold mb-1"> {{counts.completed}} </p>
                                <p class="text-sm text-gray-500">11 last month</p>
                            </div>
                            <div class="bg-green-100 p-3 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                    stroke="currentColor" class="h-6 w-6 text-green-600">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
    
                            </div>
                        </div>
                    </div>
                </a>

                {% comment %} Task in Progress {% endcomment %}
                <a href="{% url "manager-dashboard" %}?type=in-progress">
                    <div class="bg-white rounded-xl p-5 shadow-md">
                        <h3 class="text-sm font-medium text-gray-500 mb-3">TASK IN PROGRESS</h3>
                        <div class="flex justify-between items-start">
                            <div>
                                <p class="text-3xl font-semibold mb-1"> {{counts.in_progress}} </p>
                                <p class="text-sm text-gray-500">11 last month</p>
                            </div>
                            <div class="bg-yellow-100 p-3 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                    stroke="currentColor" class="h-6 w-6 text-yellow-600">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
    
                            </div>
                        </div>
                    </div>
                </a>

                {% comment %} ToDos {% endcomment %}
                <a href="{% url "manager-dashboard" %}?type=pending">
                    <div class="bg-white rounded-xl p-5 shadow-md">
                        <h3 class="text-sm font-medium text-gray-500 mb-3">TODOS</h3>
                        <div class="flex justify-between items-start">
                            <div>
                                <p class="text-3xl font-semibold mb-1"> {{counts.pending}} </p>
                                <p class="text-sm text-gray-500">11 last month</p>
                            </div>
                            <div class="bg-purple-100 p-3 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                    stroke="currentColor" class="h-6 w-6 text-purple-600">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="p-2 {% if message.tags == 'success' %} bg-red-500 {% endif %}"> {{message}} </div>
                    {% endfor %}
                {% endif %}
            </div>

            {% block tasks %}
            {% comment %} manager-dashboard {% endcomment %}
            {% comment %} user-dashboard {% endcomment %}
            {% endblock tasks %}

        </main>
    </div>

</body>

</html>