{% extends "base.html" %}

{% block content %}
<div class="w-full max-w-md mx-auto my-9 bg-white shadow-lg rounded-xl p-9">
    <h2 class="text-2xl font-bold mb-6 text-center text-emerald-600">
        Sign in to your account
    </h2>
    {% if messages %}
        {% for message in messages %}
            <div class="p-2 mb-3 text-white text-center rounded
            {% if message.tags == 'success' %}
                bg-green-500
            {% else %}
                bg-red-500
            {% endif %}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" class="space-y-4">
        {% csrf_token %}

        <div class="space-y-2">
            {{ form }}
        </div>
        <div class="flex justify-center">
            <button type="submit" class="bg-emerald-500 hover:bg-emerald-600  px-5 py-2 rounded-lg text-white font-semibold  transition duration-200 ease-in-out">
                Sign in
            </button>
        </div>
    </form>
</div>
{% endblock content %}